[dspace_upload]
rsync_password = MYPASSWORD
rsync_path = user@server.org::aipstore/
logfile = /var/log/archivematica/dspace_upload/dspace_upload.log
pidfile = /var/archivematica/dspace_upload/dspace_upload_pid.lck
database_file = /var/archivematica/dspace_upload/dspace_upload.db
upload_dir = /var/archivematica/dspace_ready_to_ingest

[dspace_delete]
logfile = /var/log/archivematica/dspace_upload/dspace_delete.log
pidfile = /var/archivematica/dspace_upload/dspace_delete_pid.lck
automation_tools_db_file = /var/archivematica/automation-tools/transfers.db
upload_dir = /var/archivematica/dspace_ready_to_ingest
